
/* Redéfinition */
.alert-danger {
    color: white;
}

.badge {
    font-size: 0.7rem;
}

.navbar-vertical.navbar-expand-xs {
    overflow-y: unset;
}

body, a, p, strong, span, i, li, ol, button {
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
}

form[data-mode="ajout"] .btn-modif,
form[data-mode="ajout"] .btn-annuler,
form[data-mode="modif"] .btn-ajout {
    display: none;
}
